# compiled output
/dist
/tmp

# IDEs and editors
.idea
.project
.classpath

# dependencies
node_modules/
artifacts/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cypress output files
cypress/screenshots/
cypress/videos/

# misc
.DS_Store
debug.log

# typescript
*.tsbuildinfo

# IDE
.vscode/
.idea/

# local env files
.env
.env.local